In [1]:
import sqlite3
conn = sqlite3.connect('names.db')

In [14]:
men_80 = conn.execute("select name, count from names where year = 1880 and gender = 'M' order by count desc limit 3")
women_80 = conn.execute("select name, count from names where year = 1880 and gender = 'F' order by count desc limit 3")
men_83 = conn.execute("select name, count from names where year = 1883 and gender = 'M' order by count desc limit 3")
women_83 = conn.execute("select name, count from names where year = 1883 and gender = 'F' order by count desc limit 3")
men_803 = conn.execute("select name, sum(count) from names where year >= 1880 and year <= 1883 and gender = 'M' group by name order by count desc limit 3")
women_803 = conn.execute("select name, sum(count) from names where year >= 1880 and year <= 1883 and gender = 'F' group by name order by count desc limit 3")

In [15]:
print("Самые часто встречающиеся имена за 1880 год.")
print("Мужчины:")
for i in men_80:
    print(i[0], ':', i[1])
print("Женщины:")
for i in women_80:
    print(i[0], ':', i[1])
    
print("Самые часто встречающиеся имена за 1883 год.")
print("Мужчины:")
for i in men_83:
    print(i[0], ':', i[1])
print("Женщины:")
for i in women_83:
    print(i[0], ':', i[1])
    
print("Самые часто встречающиеся имена за 1880-1883 год.")
print("Мужчины:")
for i in men_803:
    print(i[0], ':', i[1])
print("Женщины:")
for i in women_803:
    print(i[0], ':', i[1])

Самые часто встречающиеся имена за 1880 год.
Мужчины:
John : 9655
William : 9532
James : 5927
Женщины:
Mary : 7065
Anna : 2604
Emma : 2003
Самые часто встречающиеся имена за 1883 год.
Мужчины:
John : 8894
William : 8387
James : 5224
Женщины:
Mary : 8012
Anna : 3306
Emma : 2367
Самые часто встречающиеся имена за 1880-1883 год.
Мужчины:
John : 36875
William : 35741
James : 22485
Женщины:
Mary : 30144
Anna : 11751
Emma : 8707