In [1]:
import pandas as pd
prices = pd.read_csv('./stock_price.csv')
indexes = pd.read_csv('./stock_index_dict.csv')

In [2]:
prices.Date = prices.Date.astype('datetime64')
prices.Date = prices.Date.dt.year * 100 + prices.Date.dt.month
prices = prices.groupby(['Date', 'Tiker']).sum()

In [3]:
prices.reset_index(drop=False, inplace=True)
indexes.columns = ['Date', 'Tiker', 'Ind', 'Weight']

In [4]:
joined = indexes.merge(prices, on=['Date', 'Tiker'])
joined.Price = joined.Price * joined.Weight
joined = joined.groupby(['Ind', 'Date']).sum()
joined.reset_index(drop=False, inplace=True)
joined.Date = joined.Date // 100
res_data = joined.groupby(['Ind', 'Date']).mean()
res_data.reset_index(drop=False, inplace=True)

C:\Users\Арсений\AppData\Local\Temp\ipykernel_6836\2699150061.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  joined = joined.groupby(['Ind', 'Date']).sum()

In [6]:
pd.pivot_table(res_data, values='Price', index='Date', columns='Ind')

Ind         INDX1        INDX2
Date
2018  1327.594985  1452.035834
2019  1570.444999  1722.646759
2020  1504.011458  2356.144583
2021  2156.214583  3028.702565
2022  2072.991500  3063.661497