In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("./eplmatches.csv")

In [2]:
season_needed = df[df.Season_End_Year == 2007]

In [3]:
home = season_needed[["Home", "HomeGoals", "AwayGoals", "FTR"]]
home["FTR"] = home.FTR.apply(lambda x: {'H': 'W', 'A': 'L', 'D': 'D'}[x])
away = season_needed[["Away", "AwayGoals", "HomeGoals", "FTR"]]
away["FTR"] = away.FTR.apply(lambda x: {'A': 'W', 'H': 'L', 'D': 'D'}[x])

C:\Users\Арсений\AppData\Local\Temp\ipykernel_10564\2121368234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home["FTR"] = home.FTR.apply(lambda x: {'H': 'W', 'A': 'L', 'D': 'D'}[x])
C:\Users\Арсений\AppData\Local\Temp\ipykernel_10564\2121368234.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  away["FTR"] = away.FTR.apply(lambda x: {'A': 'W', 'H': 'L', 'D': 'D'}[x])

In [4]:
home.columns = ['Team', 'BeatenGoals', 'MissedGoals', 'Wins']
away.columns = ['Team', 'BeatenGoals', 'MissedGoals', 'Wins']

In [5]:
common = pd.concat([home, away])

In [6]:
teams = common.groupby('Team')
wr = teams[["Wins"]].value_counts()

In [7]:
joined = teams.agg(sum)

C:\Users\Арсений\AppData\Local\Temp\ipykernel_10564\2772710221.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  joined = teams.agg(sum)

In [8]:
w = wr.loc[common.Team, "W"]
d = wr.loc[common.Team, "D"]
l = wr.loc[common.Team, "L"]

In [9]:
stats = pd.DataFrame({'Wins': w, 'Draw': d, 'Loses': l}).groupby('Team').sum()

In [10]:
res = joined.merge(stats, on='Team')
res.columns=['BeatenGoals', 'MissedGoals', 'Win', 'Draw', 'Lose']
res['Points'] = res.Win * 3 + res.Draw

ValueError: Length mismatch: Expected axis has 5 elements, new values have 6 elements

In [74]:
good_res = res[["Points", "Win", "Draw", "Lose", "BeatenGoals", "MissedGoals"]].astype('int')
good_res['Help'] = good_res.BeatenGoals - good_res.MissedGoals
good_res = good_res.sort_values(by=['Points', 'Help', 'Win'], ascending=False)
good_res = good_res.drop('Help', axis=1)

In [75]:
good_res

                 Points  Win  Draw  Lose  BeatenGoals  MissedGoals
Team
Manchester Utd       89   28     5     5           83           27
Chelsea              83   24    11     3           64           24
Liverpool            68   20     8    10           57           27
Arsenal              68   19    11     8           63           35
Tottenham            60   17     9    12           57           54
Everton              58   15    13    10           52           36
Bolton               56   16     8    14           47           52
Reading              55   16     7    15           52           47
Portsmouth           54   14    12    12           45           42
Blackburn            52   15     7    16           52           54
Aston Villa          50   11    17    10           43           41
Middlesbrough        46   12    10    16           44           49
Newcastle Utd        43   11    10    17           38           47
Manchester City      42   11     9    18           29           44
West Ham             41   12     5    21           35           59
Fulham               39    8    15    15           38           60
Wigan Athletic       38   10     8    20           37           59
Sheffield Utd        38   10     8    20           32           55
Charlton Ath         34    8    10    20           34           60
Watford              28    5    13    20           29           59

In [11]:
res

                 BeatenGoals  MissedGoals  Wins  Draw  Loses
Team
Arsenal                   63           35  19.0  11.0    8.0
Aston Villa               43           41  11.0  17.0   10.0
Blackburn                 52           54  15.0   7.0   16.0
Bolton                    47           52  16.0   8.0   14.0
Charlton Ath              34           60   8.0  10.0   20.0
Chelsea                   64           24  24.0  11.0    3.0
Everton                   52           36  15.0  13.0   10.0
Fulham                    38           60   8.0  15.0   15.0
Liverpool                 57           27  20.0   8.0   10.0
Manchester City           29           44  11.0   9.0   18.0
Manchester Utd            83           27  28.0   5.0    5.0
Middlesbrough             44           49  12.0  10.0   16.0
Newcastle Utd             38           47  11.0  10.0   17.0
Portsmouth                45           42  14.0  12.0   12.0
Reading                   52           47  16.0   7.0   15.0
Sheffield Utd             32           55  10.0   8.0   20.0
Tottenham                 57           54  17.0   9.0   12.0
Watford                   29           59   5.0  13.0   20.0
West Ham                  35           59  12.0   5.0   21.0
Wigan Athletic            37           59  10.0   8.0   20.0